@tailwind base;
@tailwind components;
@tailwind utilities;

.translate {
  display: none;
}

.goog-logo-link {
  display: none !important;
}
.goog-te-gadget {
  color: transparent !important;
  font-size: 0px !important;
  display: flex;
  align-items: center;
}

#google_translate_element select {
  background-color: rgb(225, 221, 221);
  color: black;
  border: none;
  border-radius: 3px;
  padding: 6px 8px;
  margin: auto 0;
}
.goog-te-banner-frame {
  display: none !important;
}
.goog-tooltip {
  display: none !important;
}
.goog-tooltip:hover {
  display: none !important;
}
.goog-text-highlight {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
